﻿html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 249px;
    background-color: rgb(159, 100, 121);
}


li a {
    
    display: block;
    color: #fff;
    padding: 12px 13px;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}


/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}        
.wraper{
                border-collapse: collapse;
                width: 100%;
        }
        .tr_row  td, th{
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
        }
        .table_login {
                border-collapse: collapse;
        }
        .table_login td, th{


                border: 1px solid #dddddd;
                padding: 8px;
        }


.table_manage {
                border-collapse: collapse;
        }
        .table_manage td, th{


                border: 1px solid #dddddd;
                padding: 8px;
        }
.td_m{
left: -84px;position: relative;top:13px;
}


.table_manage tr:nth-child(even) {
                background-color: #dddddd;
        }
        input{
        height: 25px;
    border-radius: 4px;
    border: 1px solid #ccc;
        }
        select{
                width: 59.01%;
    height: 31px;
        }
  a{ color: #fff;text-decoration: none;}


  a:after {content: ""; padding: 0 .5em;}
.btn_mouse{
cursor: pointer;
}